extends layout 

block content
    .container.d-md-inline-flex.justify-content-between
        h3 Hafsa Dar # FA18-BSE-009
        h3 Abdul Rehman # FA18-BSE-073
        h3 Muhammad Ali # FA17-BSE-079
