extends layout 

block content
    .container.d-md-inline-flex.justify-content-between
        h3 Hafsa Manzoor Dar # FA18-BSE-009
        h3 Abdul Rehman Baig # FA18-BSE-073
        h3 Muhammad Ali Hafeez # FA17-BSE-079